//inputs, span, ...
.datepicker {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

textarea {
    margin-top: 3vh;
    min-height: 20vh;
    width: 20vh;
    padding: 10px;
    resize: none;
}
