.navbar {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    &-paciente {
        background-color: $azulGrisaceo;
        color: $blanco;
        .navbar-brand {
            color: $blanco;
        }
        .nav-link {
            color: $blanco;
        }
        .navbar-toggler {
            color: #ffffff;
        }
    }

    &-medico {
        background-color: $gris;
        color: $blanco;
        .navbar-brand {
            color: $blanco;
        }
        .nav-link {
          color:
           $blanco;
      }
      .navbar-toggler {
        color: #ffffff;
    }
    }

    &-admin {
        background-color: $blanco;
        .nav-link {
            color: $negro;
        }
        .navbar-brand {
            color: $negro;
        }
        border-bottom: 2px solid black;
        .navbar-toggler {
            color: $negro;
        }
    }

    .container {
        padding: 0;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 30px;

        .logo {
            background-image: url('/storage/images/logo_sanitech.png');
            width: 4rem;
            height: 4rem;
            background-size: contain;
        }
    }

    .nav-link {
        font-size: 20px;

        &:hover {
            color: white;
        }
    }

    .navbar-nav {
        width: 100%;
        justify-content: space-evenly;

        .nav-item:hover {
            background-color: #36369f;
            cursor: pointer;
        }
    }

    .icon {
        font-size: 2rem;
    }

    @media (max-width: 991.98px) {
        .navbar-nav {
            flex-direction: column;

            .nav-item {
                padding: 10px 45px;
            }
        }

        .navbar-brand {
            font-weight: bold;
            padding: 1rem;
        }
    }
}
