//Fuente de texto
$outfitFont: "Outfit", sans-serif;

//Efectos
$sombra: 0 8px 12px rgba(0, 0, 0, 0.1);

//Colores principales
$blanco: white;
$negro: black;
$rojo: #e74c3c;
$rojo-hover: #c0392b;
$verde: #9CE7BA;
$verde2: #2ecc71;
$verde2-hover: #27ae60;
$grisClaro:#E3E5FA;
$azulClaro: #7699D4;
$azulMuyClaro: #E3E5FA;
$azulOscuro: #434371;
$azulFuerte: #36369F;
$azulGrisaceo: #36364B;
$gris: #4B4B4B;
$grisOscuro: #272727;