//Fuente de texto
$outfitFont: "Outfit", sans-serif;

//Efectos
$sombra: 0 8px 12px rgba(0, 0, 0, 0.1);

//Colores principales
$blanco: white;
$negro: black;
$rojo: red;
$verde: #9CE7BA;
$grisClaro:#E3E5FA;
$azulClaro: #7699D4;
$azulOscuro: #434371;
$azulFuerte: #36369F;
$azulGrisaceo: #36364B;
$gris: #4B4B4B;