.cambiarMedicoContainer{
    width: 100vw;
    height: 80vh;
}

.tituloCambiarMedico{
    margin-top: 5vh;
    padding-top: 2%;

    & > h1 {
        text-align: center;
        font-size: 2rem;
    }
}
.contenedorSolicitudCambioMedico{
    margin-top: 5vh;
}

.formularioCambioMedico{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 4vw;

    & label{
        white-space: normal; 
    }

    & textarea{
        margin-top: 3vh;
        min-height: 20vh;
        padding: 10px;
        resize: none;
    }

    & button{
        margin-top: 5vh;
    }
}

@media screen and (min-width: 768px) {
    .contenedorSolicitudCambioMedico{
        margin-left: 20%;
        margin-right: 20%;
        
    }

    .formularioCambioMedico{
        
        & label{
           align-self: center; 
        }

        & textarea{
           
            min-height: 30vh;
        }
    }
}