.crearCitaContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    width: 100%;
    margin-bottom: 10vh;
}

.tituloCrearCita {
    padding-top: 5%;
    padding-bottom: 5%;

    & h1 {
        text-align: center;
        font-size: 2rem;
    }
}

.formularioCrearCita {
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;

    & label {
        margin-bottom: 1vh;
    }

    & input[type="text"] {
        border: 1px solid black;
        border-radius: 3px;
        margin-bottom: 5vh;
    }

    & input[type="radio"] {
        grid-row: 2;
    }

    & select {
        border-radius: 3px;
    }

    & p{
        margin-bottom: 5vh;
    }
}

.selecionTipoCita {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    margin-right: 48vw;
    margin-bottom: 5vh;
    
}

.selectorPrueba {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.nivelEmergencia {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    margin-bottom: 5vh;
}

.errorCrearCita {
    color: $rojo;
}
