$verde: #4CAF50;
$rojo: #F44336;
$prioridad1: #FFCDD2;
$prioridad2: #FFECB3;
$prioridad3: #C8E6C9;
$prioridad4: #BBDEFB;
$prioridad5: #D1C4E9;

.crearCitaContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    width: 100%;
    margin-bottom: 10vh;
}

.tituloCrearCita {
    padding-top: 5%;
    padding-bottom: 5%;

    & h1 {
        text-align: center;
        font-size: 2rem;
    }
}

.formularioCrearCita {
    display: flex;
    flex-direction: column;
    padding-bottom: 10vw;

    & label {
        margin-bottom: 1vh;
    }

    & input[type="text"] {
        border: 1px solid black;
        border-radius: 3px;
        margin-bottom: 5vh;
    }

    & input[type="radio"] {
        grid-row: 2;
    }

    & select {
        border-radius: 3px;
    }

    & p {
        margin-bottom: 5vh;
    }
}

.selecionTipoCita {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    margin-bottom: 5vh;
}

.selectorPrueba {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.nivelEmergencia {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
    gap: 20px;

    & input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    & label {
        width: 20%;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    & .prioridad1 {
        background-color: $prioridad1;
    }

    & .prioridad2 {
        background-color: $prioridad2;
    }

    & .prioridad3 {
        background-color: $prioridad3;
    }

    & .prioridad4 {
        background-color: $prioridad4;
    }

    & .prioridad5 {
        background-color: $prioridad5;
    }

    & input[type="radio"]:checked + label {
        background-color: $verde;
    }

    @media (max-width: 1155px) {
        flex-direction: column;
        align-items: flex-start;

        & label {
            width: 100%;
            margin-bottom: 10px;
        }

        &::before {
            display: none;
        }

        & .nivelEmergencia-slider {
            display: none;
        }

        & input[type="radio"]:checked + label {
            background-color: $verde;
        }
    }
}

.errorCrearCita {
    color: $rojo;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
