.crearCitaContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    width: 100%;
}

.tituloCrearCita{
    padding-top: 5%;
    padding-bottom: 5%;

    & h1{
        text-align: center;
        font-size: 2rem;
    }
}

.formularioCrearCita{
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;

    & label{
        margin-bottom: 1vh;
    }

    & input[type="text"]{
        border: 1px solid black;
        border-radius: 3px;
        margin-bottom: 5vh;
        
    }

    & select{
        border-radius: 3px;
        margin-bottom: 5vh;
    }

}

.nivelEmergencia{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}