.tituloBuscadorPaciente {
    padding-top: 2%;

    & > h1 {
        text-align: center;
        font-size: 2rem;
    }
}

.filtradorPaciente {
    & h3 {
        white-space: initial;
        display: flex;
        justify-content: center;
    }
}

.filtrarPacientesContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    width: 100%;
    height: 100vh;
}

.contenedorFiltro {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;

    & input[type="text"] {
        margin-left: 5vw;
        margin-right: 5vw;
        padding: 2vh;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    & p {
        margin-top: 5vh;
        text-align: center;
        text-justify: center;
    }
}

.pacientesNoDisponibles {
    min-height: 63vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & > p {
        color: red;
    }
}
.pacientenesEncontrados {
    max-height: 56vh;
    overflow-y: auto;

    & > a:last-child .paciente {
        border-bottom: 1px solid black;
    }
}

.paciente {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    border-top: 1px solid black;
    align-items: center;

    & i {
        font-size: 5rem;
        padding-left: 5vw;
    }

    &Info {
        margin-left: 5vw;
        & p:first-child {
            padding-top: 2vh;
        }
    }

    &Botones {
        display: flex;
        flex-direction: column;
        padding-right: 5vw;

        & a:not(:last-child) {
            margin-bottom: 2vh;
        }

        & button {
            width: 100%;
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;
        }
    }

    &:hover {
        background-color: #e3e5fa;
    }
}

@media screen and (min-width: 768px) {
    .filtrarPacientesContainer {
        width: 80%;
    }

    .pacientenesEncontrados {
        max-height: 51vh;
    }

    .paciente {
        & img {
            width: 10rem;
            height: 10rem;
        }
    }
}
