.informesContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    width: 100%;
    min-height: 120vh;
}

.listaInformes{
    border-radius: 5px;
}

.contenedor-informe{
    border-top: 1px solid black;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.5);

    &:last-child{
        border-bottom: 1px solid black;
    }
}

.tituloInformes{
    display: grid;
    gap: 20px;
    padding-bottom: 2%;
    justify-content: center;

    & h1{
        text-align: center;
        font-size: 2rem;
    }
}

.informe{
    display: grid;
    grid-template-columns: auto auto;
    cursor: pointer;
    background-color: white;
    
    &-parte1{
        grid-row: span 2; 
        padding: 2% 0 2% 5vw;

        & p{
            margin: 0;
        }

        & > p:first-child{
            margin-bottom: 3%;
        }
    }

    &-parte2{
        grid-row: 1 / 3;
        grid-column: 2;
        display: flex;
        justify-content: flex-end; 
        align-items: center; 
        padding-right: 6vw;
    }

    &:hover{
        background-color: #E3E5FA;
    }
}

.titulo-informe{
    max-width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cuerpo-informe{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(3, auto);
    gap: 5%;
    background-color: #eeee;
    transition: max-height 0.5s ease 0s;
    overflow: hidden;

    &-titulo{
        align-self: center; 
        padding-left: 10%;
    }

    &-texto{
        font-size: calc(0.8rem + 0.4vw);
        padding-right: 5vw;
    }
}

#informesClinicos{
    margin-bottom: 10vh;
}

.noResultados{
    display: flex;
    justify-content: center;

    & p {
        color: red;
    }
}

.menu-paginacion{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .informesContainer{
        width: 80%;
    }
}
