.informesContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    width: 100%;
}

.contenedor-informe{
    border-top: 1px solid black;

    &:last-child{
        border-bottom: 1px solid black;
    }
}

.tituloInformes{
    padding-top: 15%;
    padding-bottom: 5%;

    & h1{
        text-align: center;
        font-size: 2rem;
    }
}


.informe{
    display: grid;
    grid-template-columns: auto auto;
    
    &-parte1{
        grid-row: span 2; 
        padding: 2% 0 2% 10%;

        & p{
            margin: 0;
        }

        & > p:first-child{
            margin-bottom: 3%;
        }
    }

    &-parte2{
        grid-row: 1 / 3;
        grid-column: 2;
        display: flex;
        justify-content: flex-end; 
        align-items: center; 
        padding-right: 15%;
    }
}

.cuerpo-informe{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(3, auto);
    gap: 5%;
    margin-top: 5%;

    &-titulo{
        align-self: center; 
        padding-left: 10%;
    }

    &-texto{
        font-size: 0.8rem;
    }
}
