.solicitudesContainer {
    padding-bottom: 40px;
    .info {
        display: flex;
        flex-direction: column;
        padding: 20px 0 20px;
        p {
            white-space: pre-wrap;   
        }
    }

    .solicitudes {
        @include card-grid-columns(2);
        gap: 100px; 
        &-card_type_2 {
            display: flex;
            border: 1px solid $gris;
            border-radius: 20px;
            width: 400px;
            height: 150px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            &:hover, &:active, &:focus {
                transform: scale(1.05);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
            }

            &-icon {
                @include flex-column-center;
                background-color: $azulMuyClaro;
                width: 30%;
                border-radius: 20px;
                overflow: hidden;

                i {
                    font-size: 50px;
                }
            }

            &-info {
                @include flex-row-center;
                width: 70%;
            }
        }

        @media (max-width: 957px) { 
            @include card-grid-columns(1);
            gap: 60px; 

            &-card_type_2 {
                width: 300px;
                height: 100px;

                &-icon {
                    i {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}